
/*-----------------------------------------------*/
/*          Global seting                       */
/*-----------------------------------------------*/
html,
body{
    background: #ffffff;
    color: #878787;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

/* -----HEADINGS----- */

h1,
h2,
h3,
h4{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h1 {
    font-size: 180%;
    font-weight: 300;
    line-height: 1.2;
}
h2 {
    font-size: 120%;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 100px;
}
h3 {
    font-size: 120%;
    letter-spacing: normal;
    word-spacing: 1.5px;
}
h4 {
    margin: 80px 0px 20px 0px;
    text-align: center;
    font-size: 120%;
    color: #e67e22;
}

/* -----PARAGRAPH----- */
p {
    line-height: 1.3;
    font-weight: 300;
    word-spacing: 2px;
    font-size: 95%;
    text-align: justify;
    letter-spacing: 1.1px;

}

/* -----BUTTONS----- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    user-select: none;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    font-size: 130%;
    text-transform: uppercase;
}

.btn-full:link,
.btn-full:visited{
    background-color: #2479e6;
    border: 1px solid #2479E6;
    color: #fff;
    margin-bottom: 25px;
}

.btn-ghost:link,
.btn-ghost:visited
{
    border: 1px solid #2479E6;
    color: #2479E6;
}


.btn:hover,
.btn:active{ background-color: #2465ca;}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active { border: 1px solid #2465ca;}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #2479E6;
    color: #fff;
}

/* -----LINKS----- */
a{
    color: #e67e22;
    text-decoration: none;
}
a:hover,
a:active{color: #555;}

/*-----------------------------------------------*/
/*          Main Navigation                     */
/*-----------------------------------------------*/

.main-nav {
    width: 100%;
    margin: 0px auto;
    padding: 40px 0;
    text-align: center;
}
.main-nav a{
    color: #878787;
    border: none;
    font-size: 160%;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 6px;
    transition: letter-spacing 1s, color 0.2s;
}
.main-nav a:hover {letter-spacing: 50px;}
.main-nav a:active {color: #e67e22;}

/*-----------------------------------------------*/
/*         Header                                */
/*-----------------------------------------------*/

header {
    height: 100vh;
    background-image: url("../img/cover4.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    display: flex;
    justify-content:space-around;
    flex-wrap: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.wrapper {
    width: 33%;
    padding: 10px;
}
.wrapper:nth-of-type(2) {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.wrapper:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.home-icon {
    font-size: 1000%;
    font-weight: 300;
    transform: rotate(90deg);
    color: #e67e22;
}
.left-text span {
    display: block;
    margin-bottom: 25px;
}
.left-text span:nth-of-type(1) {margin-bottom: 0px;}

.left-text span:nth-of-type(2) {
    margin-left: 45px;
    position: relative;
    font-weight: 600;
    display: inline-block;
}
.left-text span:nth-of-type(2):before {
    content: '<>..';
    font-size: 80%;
}
.left-text span:nth-of-type(2):after {
    content: '<\005C>';
    font-size: 80%;
    position: absolute;
    bottom: 0px;
    right: -55px;
}

.left-text span:nth-of-type(3) {margin-left: 75px;}
.left-text span:nth-of-type(4) {margin-left: 25px;}

.left-text span:nth-of-type(5) {
    text-align: left;
    margin-left: 120px;
}
.left-text span:nth-of-type(6) {
    margin-left: 45px;
    margin-bottom: 0px;
    position: relative;
}
.left-text span:nth-of-type(6):before {
    content: '{';
    display: block;
    color: #e67e22;
    position: absolute;
    left: -15px;
    top:-15px;
    font-size: 150%;
}
.left-text span:nth-of-type(7) {
    margin-left: 100px;
    margin-bottom: 0px;
    text-align: left;
    position: relative;
    display: inline-block;
}
.left-text span:nth-of-type(7):before {
    content: '}';
    display: block;
    color: #e67e22;
    position: absolute;
    right: -15px;
    top:-15px;
    font-size: 150%;
}
.right-text span {
    display: block;
    padding: 5px;
    position: relative;
}
.right-text span:nth-of-type(2n+2) {
    background-color: rgba(85,85,85,0.7);
    color: #ffffff;
    display: inline-block;
}

/*-----------------------------------------------*/
/*          SECTION ABOUT                     */
/*-----------------------------------------------*/
.about {padding-top: 80px;}

.about .background {background-color: #f2f2f2;}

.valuesBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-bottom: 60px;
}

.about .wrapper-1-4{
    width: 20%;
    position: relative;
}
.about .wrapper-1-4:before{
    content: '';
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    font-size: 300%;
    font-family: FontAwesome;
    line-height: 130px;
    text-align: center;
}
.about .wrapper-1-4:nth-of-type(1):before{content: '\f004 ';}
.about .wrapper-1-4:nth-of-type(2):before{content: '\f047  ';}
.about .wrapper-1-4:nth-of-type(3):before{content: '\f0c0';}
.about .wrapper-1-4:nth-of-type(4):before{content: '\f0fb ';}


/*-----------------------------------------------*/
/*          SECTION BIO                     */
/*-----------------------------------------------*/

.big-line {
    background-color: #222222;
    padding: 60px 0;
    position: relative;
    margin-bottom: 80px;
}
.bio{
    padding: 0px;
    background-color: rgb(218,216,206);
}

.bio h2{  margin-bottom: 0px; }

.bio h3 {
    font-size: 200%;
    color: #e67e22;
    padding-top: 40px;
}
.bio h3 span {
    display: block;
    font-size: 60%;
    margin: 10px 0 50px 0;
}
#triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #222222;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.bio img {
    width: 45%;
    margin: 70px 10% 0px 40px;
    float: left;
}
.bio a {
    width: 40px!important;
    padding: 15px!important;
    margin-right: 15px!important;
    text-align: center!important;
    float: right;
}

.bio p{
    margin-bottom: 30px;
    margin-right: 10px;
}

.bio i{ font-size: 150%;}

/*-----------------------------------------------*/
/*          SECTION Projects                     */
/*-----------------------------------------------*/
.projects {padding-top: 80px;}
.project-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
}
.project-container .project-wrapper {
    width: 25%;
    box-sizing: border-box;
    text-align: center!important;
    padding:30px 10px;
    transition: 0.3s;
}
.project-container .project-wrapper:hover {opacity:0.8 ;}

.project-container .project-wrapper:nth-of-type(1) {background-color: #a5c892;}
.project-container .project-wrapper:nth-of-type(2) {background-color: #9dab98;}
.project-container .project-wrapper:nth-of-type(3) {background-color: #9a9988;}
.project-container .project-wrapper:nth-of-type(4) {background-color: #619a88;}
.project-container .project-wrapper:nth-of-type(5) {background-color: #70ae9c;}
.project-container .project-wrapper:nth-of-type(6) {background-color: #bac89f;}
.project-container .project-wrapper:nth-of-type(7) {background-color: #a4c88b;}
.project-container .project-wrapper:nth-of-type(8) {background-color: #bfa3c8;}

.project-wrapper img {
    width: 70%;
    transition: 0.2s;
}
.project-wrapper:hover img{transform: scale(1.15) ;}

.project-container .project-wrapper h4{
    margin: 20px auto 0px auto;
    color: #e65a17;
}
.project-container .project-wrapper p{
    text-align: center;
    color: #333333;
}
.projects h2{
    font-size: 160%;
    margin-bottom: 60px;
}
.projects .btn {
    margin: 60px auto 80px auto;
    text-align: center;
    width: 250px;
    display: block;
}
/*-----------------------------------------------*/
/*          SECTION FOOTER                     */
/*-----------------------------------------------*/
footer {
    padding: 70px;
    background-color: #333333;
}
footer .icon {
    color: #f2f2f2!important;
    border: 1px solid #f2f2f2!important;
    display: inline-block!important;
    width: auto!important;
    margin-right: 10px!important;
}
footer p{
    float: right;
    line-height: 49px;
}


/*-----------------------------------------------*/
/*          MEDIA Query                          */
/*-----------------------------------------------*/
@media only screen and (max-width: 1200px) {
    .right-text span {margin-bottom: 10px; }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    html,
    body{font-size: 18px;}
    h1 {font-size: 250%;}
    h3 {font-size: 165%;}
    .main-nav a {font-size: 250%; }
    .bio img {margin-top: 100px;}
    p {
        word-spacing: normal;
        font-size: 90%;
    }
}

@media only screen and (max-width: 767px) {
    .left-text span:nth-of-type(1) {margin-left: 10%;}
    .left-text span:nth-of-type(2) {margin-left: 20%;}
    .left-text span:nth-of-type(3) {margin-left: 30%;}
    .left-text span:nth-of-type(4) {margin-left: 35%;}
    .left-text span:nth-of-type(5) {margin-left: 50%;}
    .left-text span:nth-of-type(6) {
        margin-left: 0px;
        display: inline-block;
        width: 49.2%;
        text-align: right;
    }
    .left-text span:nth-of-type(6):before {right: 160px;}

    .left-text span:nth-of-type(7) {
        margin-left: 0px;
        width: 49.2%;
        display: inline-block;
    }
    .left-text span:nth-of-type(7):before {left: 130px;}
    .wrapper {
        width: 95%;
        margin: auto;
    }
    .container {display: block; }
    h1 {
        font-size: 160%;
        margin-bottom: 30px;
        color: #cfcfcf;}
    h3 {text-align: center; }

    .wrapper:nth-of-type(3) { margin-top: 30px;}
    .right-text span {margin-bottom: 0px;}
    .left-text span {margin-bottom: 5px;}
    .main-nav a:hover {letter-spacing: 35px; }
    .btn:link,
    .btn:visited,
    input[type=submit] { width: 300px; }
    .valuesBox {
        flex-wrap: wrap;
         padding-bottom: 0px;}
    .about .wrapper-1-4 {
        width: 100%;
        margin-bottom: 100px;
        padding: 0px 15%;
    }
    .bio img {
        width: 60%;
        margin: 0px 0px 0px 21% ;
        float: none;
    }

    #triangle {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 50px solid #222222;
    }
    .bio i {font-size: 120%; }
    .bio a {width: 25px!important;}
    .project-container .project-wrapper {width: 50%; }
    footer {
        padding: 70px 10px;
        text-align: center;
    }
    footer .icon {
        width: 25px !important;
        margin: 0 5px !important;
        padding: 10px !important;
    }
    footer p {
        float: none;
        line-height: normal;
        text-align: center;
        margin-top: 10px;
    }

    .projects {padding-top: 60px;}

    .projects .btn { margin-bottom:60px; }
}





@media only screen and (max-width: 700px) {

    .about .wrapper-1-4 {padding: 0px 10%;}

}


@media only screen and (max-width: 600px) {
    .about .wrapper-1-4 {padding: 0px 8%; }
    .big-line { padding: 40px 0; }

    #triangle {
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid #222222;
        bottom: -30px;
    }
    .bio img {
        width: 70%;
        margin-left: 16%;
    }
}

@media only screen and (max-width: 481px) {
    html,
    body{

        font-size: 16px;
        overflow-x: hidden;
    }
    h1 {margin-bottom: 15px; }
    .wrapper:nth-of-type(3) {margin-top: 15px;}
    .right-text span { padding: 0px; }

    .about .wrapper-1-4 { padding: 0px 0px;}

    .about .wrapper-1-4:last-of-type {margin-bottom: 50px;}

    .big-line {padding: 40px 0;}

    .bio img {
        width: 90%;
        margin-left: 6%;
    }
    .project-container .project-wrapper {
        width: 100%;
        padding: 40px 10px;
    }

    .btn:link,
    .btn:visited,
    input[type=submit] {width: 240px;}
    h1{font-size: 140%}
    .main-nav a { font-size: 140%;}



}